@import "reset";
@import 'modularscale';

$modularscale: (
  base: 14px,
  ratio: 1.5
);

$mobile: '480px';
$tablet: '680px';
$smallscreen: '1060px';

$frame_bg: rgb(31,91,116);
$widget_bg: #ffffff;
$main_bg: #eef1f5;

$body-font: open-sans, helvetica, sans-serif;
$header-font: $body-font;

$copycolor: #7e8e9f;

//Global brands colour scheme
$darkblue: rgb(11,40,57);
$companyblue: rgb(24,96,126);
$blue: rgb(31,196,235);
$grey:rgb(240,243,246);
$altgrey:rgb(215,221,228);
$darkgrey: rgb(126,142,159);
$green: rgb(43,130,94);
$red: rgb(222,67,20);
$yellow: rgb(237,232,18);
$purple: rgb(195,12,212);

body {
  font-size: ms(0);
  line-height: ms(1);
  font-family: $body-font;
  color: $copycolor;
  font-weight:300;
}
p {
  margin-bottom: 1.3em;
}

h1,h2,h3,h4,h5 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font;
  color:$darkblue;
}
h1, .h1 {
  margin-top:0;
  font-size: ms(5);
  line-height: ms(6);
}
h2, .h2 {
  font-size: ms(4);
  line-height: ms(5);
}
h3, .h3 {
  font-size: ms(3);
  line-height: ms(4);
}
h4, .h4 {
  font-size: ms(2);
  line-height: ms(3);
}
h5, .h5 {
  font-size: ms(1);
  line-height: ms(2);
}
small, .font_small {font-size: 0.8em;}

.fa-facebook {
  color:$companyblue;
}
.fa-twitter {
  color:$blue;
}
.fa-instagram {
  color:$red;
}
//////

* {
  box-sizing: border-box;
}
body {
  padding:0;
  margin:0;
}
#background {
  position: fixed;
  top:-10px;
  left:-10px;
  bottom:-10px;
  right:-10px;
  background-image:url('../img/background.jpg');
  filter:blur(10px);
  z-index:1;
}
nav {
  position: relative;
  height:100vh;
  max-width:200px;
  width:20%;
  background-color: $companyblue;
  z-index:50;
  position: fixed;
  top:0;
  left:0;
  .logo {
    background-color: $darkblue;
    padding: ms(2) ms(1);
    transition:width 0s;
    img {
      width:100%;
      opacity: 1;
      transition:width 0s;
    }
  }
  ul {
    margin: 0;
    padding:0;
    li {
      list-style: none;
      width:100%;
      margin:0;
      padding: ms(1);
      text-align: left;
      font-size:ms(0);
      text-transform: uppercase;
      font-weight:bold;
      cursor: pointer;
      transition: all 0.5s ease-out;
      img {
        width:ms(2);
        margin-right:ms(0);
        opacity:0.6;
        transition: filter 0.5s ease-out;
        filter: grayscale(100%) contrast(0%) brightness(100%);
      }
      &:not(.active):hover {
        background-color: rgba(0,0,0,0.2);
        color:white;
        img {
          filter: grayscale(100%) contrast(0%) brightness(200%)
        }
      }
      &.active {
        background-color: $blue;
        color:white;
        img {
          opacity:1;
          filter: grayscale(0%) contrast(100%) brightness(100%);
        }
      }
    }
    .settings {
      position: absolute;
      bottom:0;
      left:0;
      i {
        padding-right:ms(1);
      }
      &:hover {
        color:white;
      }
    }
  }
}
main {
  position: relative;
  width:80%;
  min-width:calc(100% - 200px);
  background-color: $grey;
  z-index:2;
  min-height:100vh;
  float:right;
  color: #6e6e6e;
  padding:ms(1);
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  > section {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width:1200px;
    margin:0 auto;
    header {
      width:100%;
      position: relative;
      margin:ms(3) ms(1) ms(1) 0;
      border-bottom: 2px solid $altgrey;
      h5 {
        margin-top:0;
      }
    }
    .comparison {
      display: flex;
      flex-direction: row;
      position: absolute;
      right:0;
      top:50%;
      transform: translateY(-50%);
      select {
        background-color:$altgrey;
        border:1px solid $altgrey;
        border-radius:20px;
        padding:ms(0);
        margin-left:ms(1);
        &:focus {
          outline: none;
        }
      }
      option {
        outline:none;
        border:1px solid $grey;
      }
    }
  }
}
@media screen and (max-width:$mobile) {
  main {
    > section {
      .comparison {
        display:none;
      }
    }
  }
}
@media screen and (max-width:$tablet) {
  main {
    width:100%;
    padding-top:calc(#{ms(4)} + #{ms(0)});
  }
  nav {
    overflow: hidden;
    height:auto;
    width:100%;
    max-width:100%;
    height: ms(4);
    .logo {
      width:50%;
      height:100%;
      padding:0;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      img {
        max-height: 100%;
        width:calc(100% - #{ms(2)});
      }
    }
    ul {
      width:50%;
      overflow: hidden;
      max-height: ms(4);
      height:ms(4);
      position: fixed;
      left:50%;
      top:0;
      transition: max-height 1s ease-in-out;
      z-index:10;
      background-color: $companyblue;
      display: flex;
      flex-direction: column;
      li {
        height: ms(4);
        min-height: ms(4);
        color:white;
        order:2;
        &:not(.active):hover {
          background-color: rgba(0,0,0,0.2);
        }
        &.active {
          order:1;
        }
      }
      .settings {
        position: relative;
      }
      &:hover {
        max-height: 999px;
        height:999px;
      }
    }
  }
}
@media screen and (max-width:$smallscreen) {
  nav {
    li {
      img {
        display:none;
      }
    }
  }
}

//Widget template
article, #network-overview {
  background-color: $widget_bg;
  margin-bottom:ms(1);
  position: relative;
  width:calc(50% - #{ms(1)});
  margin-right:ms(1);
  padding:ms(0);
  box-shadow: 0 1px 3px rgba(0,0,0,0), 0 2px 2px rgba(0,0,0,0.1);
  canvas {
    width:100%;
  }
  > h5 {
    margin:ms(1) 0 0 ms(1);
    background-color: $widget_bg;
    position: relative;
    text-transform: uppercase;
    font-size:ms(0);
    font-weight:700;
  }
  .bar {
    display: flex;
    flex-direction: row;
    h5{
      padding: ms(1) ms(0);
    }
  }
  a {
    color:#6e6e6e;
    text-decoration:none;
  }
  i {
    padding-right:ms(1);
  }
  table {
    padding:ms(1) 0;
    width:100%;
    tr {
      height:ms(2);
      &:nth-child(even) {
        background-color:$main-bg;
      }
    }
    td, th {
      text-align:left;
      border:none;
      border-collapse: collapse;
      border-spacing:0px;
      &:first-child{
        text-align:center;
      }
      &:not(:last-child){
        padding-right:ms(1);
      }
      &:last-child{
        text-align:right;
      }
    }
  }
}
@media screen and (max-width:$mobile) {
  article {
    margin-right:0;
  }
}



////WIDGETS
#social-followers {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: ms(1);
  }
}
#network-overview {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: visible;
  background-color: $main-bg;
  box-shadow: none;
  padding:0;
  &::after {
    display: none;
  }
  article {
    width:33%;
    margin-bottom:0;
    margin-right:ms(1);
    padding:0;
    &:last-child{
      margin-right:0;
    }
  }
  .bar {
    width:100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding:ms(1) ms(0);
    border-bottom:1px solid $grey;
    h5 {
      margin: 0;
      padding:0;
    }
    i {
      padding:ms(0) 0;
      font-size:ms(2);
    }
    p {
      width: 100%;
      margin:0;
      padding:0;
      text-align: center;
      opacity:0.6;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding:0;
    margin:0;
  }
  li {
    padding:ms(0) 0;
    border-bottom:1px solid $grey;
    list-style: none;
    margin:0;
    text-align: center;
  }
  .statistic {
    text-align: center;
    padding:ms(0);
    font-size:ms(1);
    line-height: ms(0);
    width:100%;
    h5 {
      margin:0;
    }
    .positive {
      color: $green;
      & + .statcaption {
        color: $green;
      }
    }
    .negative {
      color: $red;
      & + .statcaption {
        color: $red;
      }
    }
    .statcaption {
      font-size: ms(0);
      display: block;
      opacity:0.6;
    }
  }
}
@media screen and (max-width:$smallscreen) {
  #socialoverview {
    flex-direction: column;
  }
  #social-followers, #network-overview {
    width:100%;
    order:2;
  }
  #social-followers {
    order:3;
  }
}
@media screen and (max-width:$mobile) {
  #network-overview {
    flex-direction: column;
    article {
      width:100%;
      margin-bottom:ms(1);
    }
  }
  #social-followers {
    visibility: hidden;
    display: inline;
    height:0px;
    padding:0;
    margin:0;
  }
}
#website-referrals {
  width:100%;
  margin-right:0;
  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .overview {
    padding:0;
    width:40%;
    position: relative;
  }
  .details {
    width:20%;
    padding:ms(3) 0;
    display: flex;
    flex-direction: column;
    .graph:first-child {
      padding-bottom:ms(3);
    }
  }
}
#website-popular-list, #website-landing-list {
  width:calc(50% - (#{ms(1) / 2}));
}
#website-landing-list {
  z-index:3;
  margin-right:0;
}
@media screen and (max-width:$mobile) {
  #website-referrals {
    .body {
      flex-direction: column;
      h5 {
        margin-bottom:ms(2);
      }
      .overview, .details {
        width:100%;
      }
    }
  }
  #website-popular-list, #website-landing-list {
    width:100%;
  }
}

//
//// Pages
//
.settings-form {
  width: calc(100% - #{ms(0)});
  flex-direction: column;
  .controls {
    padding-left:ms(6);
    input {
      background-color:$altgrey;
      border:1px solid $altgrey;
      border-radius:20px;
      padding:ms(0);
      cursor:pointer;
      font-weight:bold;
      &:hover {
        background-color:$grey;
      }
      &:focus {
        outline: none;
      }
      &:not(:nth-child(1)){
        margin-left:ms(1);
      }
    }
  }
  #client_table {
    position: relative;
    .hiddenrow, .idholder, .deleted {
      display: none;
    }
    tr {
      background-color: $widget_bg;
      padding:ms(1);
      margin:ms(1) 0 0 ms(6);
      display: block;
      position: relative;
      &:nth-child(1){
        display:none;
      }
      .brandlogo {
        position: absolute;
        right:calc(100% + (#{ms(1)} * 2));
        top:50%;
        transform:translateY(-50%);
        width:ms(5);
        height:auto;
      }
    }
    th {
      text-align: left;
      font-weight:700;
    }
    td {
      text-align: left;
      position: relative;
      padding:ms(2) ms(2) ms(1) 0;
      &::before{
        position: absolute;
        top:0;
        left:0;
        font-weight:bold;
      }
      &:nth-child(2)::before{
        content: 'Details';
      }
      &:nth-child(3)::before{
        content: 'Facebook';
      }
      &:nth-child(4)::before{
        content: 'Twitter';
      }
      &:nth-child(5)::before{
        content: 'Analytics';
      }
      &:nth-child(6)::before{
        content: 'Instagram';
      }
      &:nth-child(7)::before{
        content: 'Delete';
      }
    }
    img {
      height:6rem;
      margin:0 auto;
    }
    input, select {
      background-color:transparent;
      padding:0;
      border:none;
      width:100%;
      position: relative;
    }
    .h5 {
      font-weight:bold;
    }
  }
}
//
//// System
//
*[data-navigate] {
  cursor: pointer;
}
