@import "reset";
@import 'modularscale';

$modularscale: (
  base: 16px,
  ratio: 1.375
);

$frame_bg: rgb(31,91,116);
$widget_bg: #ffffff;
$main_bg: #eef1f5;

$body-font: open-sans, helvetica, sans-serif;
$header-font: $body-font;

$green: #54bb54;
$red: #f13c3c;

body {
  font-size: ms(0);
  line-height: ms(1);
  font-family: $body-font;
}
p {
  margin-bottom: 1.3em;
}

h1,h2,h3,h4,h5 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font;
}
h1 {
  margin-top:0;
  font-size: ms(5);
  line-height: ms(6);
}
h2 {
  font-size: ms(4);
  line-height: ms(5);
}
h3 {
  font-size: ms(3);
  line-height: ms(4);
}
h4 {
  font-size: ms(2);
  line-height: ms(3);
}
h5 {
  font-size: ms(1);
  line-height: ms(2);
}
small, .font_small {font-size: 0.8em;}


//////

* {
  box-sizing: border-box;
}
body {
  padding:0;
  margin:0;
}
#background {
  position: fixed;
  top:-10px;
  left:-10px;
  bottom:-10px;
  right:-10px;
  background-image:url('../img/background.jpg');
  filter:blur(10px);
  z-index:1;
}
header {
  position: fixed;
  top:0;
  left:0;
  background-color: $frame_bg;
  width:100%;
  height:ms(4);
  z-index:51;
  color:rgba(255,255,255,0.8);
  font-size:ms(2);
  line-height:ms(4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  img {
    width:200px;
    margin:0 ms(4) 0 0;
  }
  .actions {
    display:flex;
    flex-direction: row;
    padding:0;
    margin:0;
    li {
      list-style: none;
      padding-right:ms(2);
    }
  }
}
nav {
  position: relative;
  height:100vh;
  max-width:200px;
  width:20%;
  background-color: $frame_bg;
  z-index:50;
  float:left;
  padding:ms(4) ms(1) ms(1);
  color:rgba(255,255,255,0.8);
  position: fixed;
  top:0;
  left:0;
  .brands {
    margin:ms(2) 0 0;
    padding:0;
    li {
      list-style: none;
      width:80%;
      margin-left:20%;
      opacity:0.5;
      transform-origin: right;
      transition: all 0.5s;
      padding:0 0 ms(1);
      cursor: pointer;
      &:hover, &.active {
        opacity:1;
      }
      img {
        width:100%;
      }
    }
  }
}
main {
  position: relative;
  min-width:calc(100% - 200px);
  width:80%;
  background-color: $main_bg;
  z-index:2;
  min-height:100vh;
  float:right;
  color: #6e6e6e;
  padding:ms(5) 0 0 ms(1);
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
//Widget template
article, #network-overview {
  background-color: $widget_bg;
  margin-bottom:ms(1);
  position: relative;
  width:calc(50% - #{ms(0)});
  padding:ms(0);
  box-shadow: 0 1px 3px rgba(0,0,0,0), 0 2px 2px rgba(0,0,0,0.1);
  canvas {
    width:100%;
  }
  &::after {
    content: '';
    background-color: $main_bg;
    position: absolute;
    right:-3px;
    left:100%;
    top:0;
    bottom:calc(100% - #{ms(1)});
  }
  > h5, .bar h5 {
    margin-top:0;
    background-color: $widget_bg;
    position: relative;
    display: inline;
    text-transform: uppercase;
    font-size:ms(0);
    margin:0;
    font-weight:700;
    &::after {
      display: block;
      content: " ";
      position: absolute;
      top:-1 * ms(2);
      bottom:0;
      right:-9999px;
      left:calc(100% + #{ms(1)});
      background-color: $main_bg;
      position: absolute;
      -moz-transform: skewX(30deg);
      -o-transform: skewX(30deg);
      transform: skewX(30deg);
      -ms-transform: skewX(30deg);
      -webkit-transform: skewX(30deg);
      z-index: 1;
      border-right: 0px solid rgba(0, 0, 0, 0.12);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 1px 0px 0px rgba(100, 100, 100, 0.05);
      -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 1px 0px 0px rgba(100, 100, 100, 0.05);
      -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 1px 0px 0px rgba(100, 100, 100, 0.05);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 1px 0px 0px rgba(100, 100, 100, 0.05);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0), 1px 0px 0px rgba(100, 100, 100, 0.05);
    }
  }
  .bar {
    display: flex;
    flex-direction: row;
    h5.tab{
      z-index:2;
      padding: 0 ms(0);
      background-color: $main-bg;
      color: transparentize(#6e6e6e, 0.6);
      transition: color 0.5s, background-color 0.5s;
      cursor: pointer;
      &:hover, &.active {
        background-color: $widget_bg;
        color: opacify(#6e6e6e, 1);
      }
      &:nth-of-type(2){
        margin-left:auto;
      }
      &::after{
        display:none;
      }
    }
  }
  a {
    color:#6e6e6e;
    text-decoration:none;
  }
  i {
    padding-right:ms(1);
  }
  table {
    padding:ms(1) 0;
    width:100%;
    tr {
      height:ms(2);
      &:nth-child(even) {
        background-color:$main-bg;
      }
    }
    td, th {
      text-align:left;
      border:none;
      border-collapse: collapse;
      border-spacing:0px;
      &:first-child{
        text-align:center;
      }
      &:not(:last-child){
        padding-right:ms(1);
      }
      &:last-child{
        text-align:right;
      }
    }
  }
}


////WIDGETS
#last-updated {
  width:100%;
  i {
    padding-right:ms(2);
  }
}
#social-followers {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: ms(2);
  }
}
#network-overview {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  overflow: visible;
  background-color: $main-bg;
  box-shadow: none;
  padding:0;
  z-index:3;
  &::after {
    display: none;
  }
  article {
    width:100%;
    margin-bottom:0;
  }
  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .statistic {
    text-align: center;
    padding:0 ms(0) ms(0);
    .positive {
      color: $green;
      & + .statcaption {
        color: $green;
      }
    }
    .negative {
      color: $red;
      & + .statcaption {
        color: $red;
      }
    }
    .statcaption {
      font-size: 0.667em;
      display: block;
      line-height: 1;
      opacity:0.6;
    }
  }
}
#website-referrals {
  width:100%;
  margin-right:0;
  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .overview {
    padding:ms(3) 0;
    width:40%;
    position: relative;
  }
  .details {
    width:20%;
    padding:ms(3) 0;
    display: flex;
    flex-direction: column;
    .graph:first-child {
      padding-bottom:ms(3);
    }
  }
}
#website-landing-list {
  z-index:3;
}

//
//// Pages
//
.settings-form {
  width: calc(100% - #{ms(0)});
  #client_table {
    .hiddenrow, .idholder {
      display: none;
    }
    th {
      text-align: left;
      font-weight:700;
    }
    td {
      text-align: left;
    }
    img {
      height:6rem;
      margin:0 auto;
    }
  }
}
//
//// System
//
*[data-navigate] {
  cursor: pointer;
}
